html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit ;
}
.wrapper {}

.header {
    background-color: #151515;
}
.header-main{
    /* background-color: transparent; */
}

.container {
    max-width: 1220px; 
    margin:0 auto;
    padding: 0 10px;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

.header__inner {
    padding-top: 40px;
    padding-bottom: 45px;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;

}

.logo {}

.logo__img {}

.menu {}

.menu__list {
    display: flex;
    gap:35px;

}

.menu__list-item {}

.menu__list-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700px;

}

.main {}

.footer {
    background-color: #151515;
    padding: 50px 0 32px;
    color: #fff;
}

.contauner {}

.footer__menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-list {
}

.footer__menu-item {}

.footer__menu-title {
    font-size: 24px;
    font-weight: 700px;
    
}

.footer__menu-link {

}

.app {

}

.app__item {}

.app__item-link {}

.app__item-img {
    
}